<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaze.india">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.chaze.india.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.chaze.india.screens.Homepage.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.chaze.india.screens.search.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.chaze.india.screens.Cart.CartActivity" />
        <activity android:name="com.chaze.india.screens.Authentication.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chaze.india.screens.Authentication.SignUpActivity"></activity>
        <activity android:name="com.chaze.india.screens.Proflie.ProfileActivity" />
        <activity android:name="com.chaze.india.screens.MyOrders.MyOrdersActivity" />
        <activity android:name="com.chaze.india.screens.MyWishList.MyWishListActivity" />
        <activity android:name="com.chaze.india.screens.PostOrderStatus.PostOrderStatusActivity" />
        <activity android:name="com.chaze.india.screens.Authentication.AuthenticationActivity" />
        <activity android:name="com.chaze.india.screens.Checkout.CheckoutActivity" />
        <activity android:name="com.chaze.india.screens.MyOffers.MyOffersActivity" />
        <activity android:name="com.chaze.india.screens.ContactUs.ContactUsActivity" />
        <activity android:name="com.chaze.india.screens.ProductInfo.ProductInfoActivity" />
        <activity android:name="com.chaze.india.screens.Shop.ShopActivity" />
        <activity android:name="com.chaze.india.screens.Category.CategoryActivity" />
        <activity android:name="com.chaze.india.screens.Referral.ReferralActivity"></activity>
    </application>

</manifest>