<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaze.india">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".screens.Homepage.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.search.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".screens.Authentication.Login.LoginActivity" />
        <activity android:name=".screens.WelcomeSlides.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.Profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ContactUs.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ProductInfo.ProductInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Shop.ShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Category.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SubCategory.SubCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.Authentication.Signup.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Authentication.OTPConfirmation.OTPConfirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Authentication.ForgotPassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".screens.Checkout.CheckoutActivity" />
        <activity android:name=".screens.Homepage.MyWishList.MyWishListActivity" />
        <activity android:name=".screens.Cart.RestaurantCart.RestaurantCartActivity" />
        <activity android:name=".screens.Cart.EcommerceCart.CartActivity" />

        <service android:name=".service.MyFirebaseInstanceIDService" />

        <activity
            android:name=".screens.Homepage.Purchases.ActiveOrders.OrderOfAShop.OrderOfAShopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PopupAnimation"></activity>
        <activity
            android:name=".screens.ProductInfo.ProductInfoPopupActivity.ProductInfoPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PopupAnimation" />
    </application>

</manifest>